<section class="panel-main">
    <section class="panel-main__header">
        <h1>Panel de configuración</h1>
        <p>Aqui se listan todas las direcciones que tienes guardadas.</p>
    </section>
    <section class="panel-main__body">
        <article class="wrapper">
            <section class="wrapper__body">
                <section class="wrapper__group">
                    <h2 class="wrapper__subtitle">Notificaciones</h2>
                </section>
                <div class="wrapper__group">
                    <label class="label label--checkbox">
                        <input type="checkbox" name="" id="">
                        <span>Recibir ofertas y promociones por correo</span>
                    </label>
                    <label class="label label--checkbox">
                        <input type="checkbox" name="" id="">
                        <span>Actualizaciones de estado de mi compra por correo</span>
                    </label>
                    <label class="label label--checkbox">
                        <input type="checkbox" name="" id="">
                        <span>Notificaciones varias por correo</span>
                    </label>
                </div>
                <div class="wrapper__group">
                    <a class="btn">Guardar</a>
                </div>
            </section>
        </article>

        <article class="wrapper">
            <section class="wrapper__header">
                <h2 class="wrapper__subtitle">Cambiar contraseña</h2>
                <p class="wrapper__desc">Ingresa tu nueva contraseña.</p>
            </section>
            <section class="wrapper__body">
                <div class="wrapper__group">
                    <label class="label">
                        <span>Contraseña</span>
                        <input class="input-text" type="password" name="name"
                            placeholder="Ingrese la nueva contraseña...">
                    </label>

                    <label class="label">
                        <span>Confirmar contraseña</span>
                        <input class="input-text" type="password" name="name" placeholder="Confirma la nueva...">
                    </label>

                </div>
                    <div class="wrapper__group">
                        <a class="btn">Cambiar contraseña</a>
                    </div>

            </section>

        </article>

        <article class="wrapper">
            <section class="wrapper__header">
                <h2 class="wrapper__subtitle">Eliminar cuenta</h2>
                <p class="wrapper__desc">Esta acción no se puede deshacer.</p>
            </section>
            <section class="wrapper__body">
                <div class="wrapper__group">
                    <a href="#" class="btn">Eliminar cuenta</a>
                </div>
            </section>
        </article>
    </section>
</section>