<section class="panel-main">
    <section class="panel-main__header">
        <h1>Mis compras</h1>
        <p>Aqui se listan todas las compras que has realizado.</p>
    </section>
    <section class="panel-main__body">
        <article class="w-article w-article--no-hover">
            <table id="panel-table" class="table">
                <thead class="table__head">
                    <tr class="table__row">
                        <th class="table__cell">Producto</th>
                        <th class="table__cell">Cantidad</th>
                        <th class="table__cell">Precio</th>
                        <th class="table__cell">Total</th>
                    </tr>
                </thead>
                <tbody class="table__body">
                    <tr class="table__row">
                        <td class="table__cell">Producto 1</td>
                        <td class="table__cell">1</td>
                        <td class="table__cell">100$</td>
                        <td class="table__cell">100$</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell">Producto 2</td>
                        <td class="table__cell">2</td>
                        <td class="table__cell">200$</td>
                        <td class="table__cell">400$</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell">Producto 1</td>
                        <td class="table__cell">1</td>
                        <td class="table__cell">100$</td>
                        <td class="table__cell">100$</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell">Producto 2</td>
                        <td class="table__cell">2</td>
                        <td class="table__cell">200$</td>
                        <td class="table__cell">400$</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell">Producto 1</td>
                        <td class="table__cell">1</td>
                        <td class="table__cell">100$</td>
                        <td class="table__cell">100$</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell">Producto 2</td>
                        <td class="table__cell">2</td>
                        <td class="table__cell">200$</td>
                        <td class="table__cell">400$</td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>
</section>