<section class="panel-main">
    <section class="panel-main__header">
        <h1>Mi cuenta</h1>
        <p>Hola Christian!</p>
    </section>
    <section class="panel-main__body">
        <section class="wrapper--panel">
            <div class="wrapper__body">
                <article class="wrapper__article--panel">
                    <h2 class="wrapper__subtitle wrapper__subtitle--panel">Datos de mi cuenta</h2>
                    <div>
                        <p>Christian Martínez</p>
                        <p>christian@gmail.com</p>
                        <p>+56 987654321</p>
                        <p>DNI: 12345678</p>
                    </div>
                </article>
                <a href="#" class="btn">Editar datos</a>
            </div>
        </section>
        <section class="wrapper--panel">
            <div class="wrapper__body">
                <article class="wrapper__article--panel">
                    <h2 class="wrapper__subtitle wrapper__subtitle--panel">Direcciones</h2>
                    <div>
                        <p>Calle 123, Rio Cuarto, Cordoba</p>
                        <p>Calle 123, Rio Cuarto, Cordoba</p>
                    </div>
                </article>
                <a href="#" class="btn">Añadir dirección</a>
            </div>
        </section>
    </section>
</section>