<footer class="footer">
    <section class="footer__content container">
        <nav class="nabvar-footer">
            <ul class="navbar-footer__ul">
                <li class="navbar-footer__li">
                    <h5 class="navbar-footer__title">ParfumShop</h5>
                    <ul class="navbar-footer__sub-ul">
                        <li class="navbar-footer__sub-li">
                            <a class="navbar-footer__link" href="#">Quienes somos</a>
                        </li>
                        <li class="navbar-footer__sub-li">
                            <a class="navbar-footer__link" href="#">Trabaja con nosotros</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar-footer__li">
                    <h5 class="navbar-footer__title">Compra Online</h5>
                    <ul class="navbar-footer__sub-ul">
                        <li class="navbar-footer__sub-li">
                            <a class="navbar-footer__link" href="#">Cómo comprar</a>
                        </li>
                        <li class="navbar-footer__sub-li">
                            <a class="navbar-footer__link" href="#">Formas de pago</a>
                        </li>
                        <li class="navbar-footer__sub-li">
                            <a class="navbar-footer__link" href="#">Métodos de envío</a>
                        </li>
                        <li class="navbar-footer__sub-li">
                            <a class="navbar-footer__link" href="#">Cambios y devoluciones</a>
                        </li>
                        <li class="navbar-footer__sub-li">
                            <a class="navbar-footer__link" href="#">Preguntas generales</a>
                        </li>
                        <li class="navbar-footer__sub-li">
                            <a class="navbar-footer__link" href="#">Promociones Bancarias</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar-footer__li">
                    <h5 class="navbar-footer__title">Ayuda</h5>
                    <ul class="navbar-footer__sub-ul">
                        <li class="navbar-footer__sub-li">
                            <a class="navbar-footer__link" href="#">Contáctanos</a>
                        </li>
                        <li class="navbar-footer__sub-li">
                            <a class="navbar-footer__link" href="#">Términos y condiciones</a>
                        </li>
                        <li class="navbar-footer__sub-li">
                            <a class="navbar-footer__link" href="#">Política de privacidad</a>
                        </li>
                        <li class="navbar-footer__sub-li">
                            <a class="navbar-footer__link" href="#">Bases y condiciones</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="socialmedia">
            <h5 class="socialmedia__title">Siguenos en nuestras redes</h5>
            <ul class="socialmedia__ul">
                <li class="socialmedia__li">
                    <iconify-icon icon="tabler:brand-instagram"></iconify-icon>
                </li>
                <li class="socialmedia__li">
                    <iconify-icon icon="tabler:brand-facebook"></iconify-icon>
                </li>
                <li class="socialmedia__li">
                    <iconify-icon icon="tabler:brand-tiktok"></iconify-icon>
                </li>
                <li class="socialmedia__li">
                    <iconify-icon icon="tabler:brand-youtube"></iconify-icon>
                </li>
            </ul>
        </div>
    </section>
    <p class="footer__text">Parfum Shop - Rio Cuarto, Cordoba - 2024</p>
</footer>