<header class="header">
    <nav class="navbar container">
        <div class="navbar-logo">
            <a class="navbar-logo--link" href="/">
                <iconify-icon class="navbar-logo__icon" icon="tabler:chart-bubble"></iconify-icon>
                <span class="navbar-logo__text">ParfumShop</span>
            </a>
        </div>
        <ul class="navbar__ul">
            <li class="navbar__li subnavbar">
                <a class="navbar__link" href="/shop">Tienda <iconify-icon icon="tabler:chevron-down"></iconify-icon></a>
                <ul class="subnavbar__ul">
                    <li class="subnavbar__li">
                        <a href="#" class="subnavbar__link">Femeninos</a>
                    </li>
                    <li class="subnavbar__li">
                        <a href="#" class="subnavbar__link">Masculinos</a>
                    </li>
                    <li class="subnavbar__li">
                        <a href="#" class="subnavbar__link">Unisex</a>
                    </li>
                </ul>
            </li>
            <li class="navbar__li">
                <a class="navbar__link" href="/about">Sobre nosotros</a>
            </li>
            <li class="navbar__li navbar__li--icon">
                <a class="navbar__link navbar__link--icon" href="/user">
                    <iconify-icon icon="tabler:user-circle"></iconify-icon>
                </a>
            </li>
            <li class="navbar__li navbar__li--icon">
                <a class="navbar__link navbar__link--icon" href="/auth/login">
                    <iconify-icon icon="tabler:user-circle"></iconify-icon>
                </a>
            </li>
            <li class="navbar__li navbar__li--icon">
                <a class="navbar__link navbar__link--icon" href="/cart">
                    <iconify-icon icon="tabler:shopping-cart"></iconify-icon>
                </a>
            </li>
        </ul>
    </nav>
</header>