<header class="header">
    <nav class="navbar container">
        <div class="navbar-logo">
            <a class="navbar__link" href="/">

                <iconify-icon class="navbar-logo__icon" icon="tabler:chart-bubble"></iconify-icon>
                <span class="navbar-logo__text">ParfumShop</span>
            </a>
        </div>
        <ul class="navbar__ul">
            <li class="navbar__li">
                <a class="navbar__link" href="/">Home</a>
            </li>
            <li class="navbar__li">
                <a class="navbar__link" href="/shop">Tienda</a>
            </li>
            <li class="navbar__li">
                <a class="navbar__link" href="/about">Sobre nosotros</a>
            </li>
            <li class="navbar__li">
                <a class="navbar__link" href="/login">Mi Cuenta</a>
            </li>
        </ul>
    </nav>
</header>