<aside class="panel-aside">
    <div class="panel-aside__header">
        <div class="navbar-logo">
            <span class="navbar-logo--link navbar-logo__text">Hola Christian!</span>
        </div>
    </div>
    <nav class="panel-aside__nav">
        <ul class="panel-aside__ul">
            <li class="panel-aside__li">
                <a href="/user/purchases" class="panel-aside__link panel-aside__link--active">
                    <iconify-icon icon="tabler:shopping-bag"></iconify-icon>
                    <span>Mis compras</span>
                </a>
            </li>
            <li class="panel-aside__li">
                <a href="/user/data" class="panel-aside__link">
                    <iconify-icon icon="tabler:user"></iconify-icon>
                    <span>Mis datos</span>
                </a>
            </li>
            <li class="panel-aside__li">
                <a href="/user/address" class="panel-aside__link">
                    <iconify-icon icon="tabler:map-pin"></iconify-icon>
                    <span>Mis direcciones</span>
                </a>
            </li>
            <li class="panel-aside__li">
                <a href="/user/config" class="panel-aside__link">
                    <iconify-icon icon="tabler:settings"></iconify-icon>
                    <span>Configuración</span>
                </a>
            </li>
            <li class="panel-aside__li">
                <a href="/user/logout" class="panel-aside__link">
                    <iconify-icon icon="tabler:square-arrow-left"></iconify-icon>
                    <span>Cerrar sesión</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>

