<main class="main">
    <div class="container--body container--body-checkout">
        <!--  -->
        <section class="container--checkout">
            <!-- Section: Entrega -->
            <section class="wrapper">
                <div class="wrapper__header">
                    <h2 class="wrapper__title">Entrega</h2>
                </div>
                <div class="wrapper__body">
                    <div class="wrapper__group">
                        <h3 class="wrapper__subtitle">Recibe</h3>
                        <article class="w-article">
                            <label class="w-article__option">
                                <input type="radio" name="name_01" selected>
                                <div class="w-article__option-description">
                                    <h5>Christian Martinez</h5>
                                    <p>DNI: 00.000.000</p>
                                </div>
                            </label>
                        </article>
                        <article class="w-article">
                            <div class="w-article__row">
                                <a class="w-article__dropdown-link"><span>+</span>Otra persona</a>
                            </div>
                            <!-- Agregar persona para recibir pedido -->
                            <article class="w-article__dropdown">
                                <div class="w-article__inputs-row">
                                    <label class="label">
                                        <span>Nombre</span>
                                        <input class="input-text" type="text" name="name" placeholder="ej: Juan">
                                    </label>
                                    <label class="label">
                                        <span>Apellido</span>
                                        <input class="input-text" type="text" name="lastname" placeholder="ej: Perez">
                                    </label>
                                    <label class="label">
                                        <span>DNI</span>
                                        <input class="input-text" type="number" name="name" placeholder="00.000.000">
                                    </label>
                                </div>
                                <div class="w-article__inputs-row">
                                    <label class="label">
                                        <span>Correo</span>
                                        <input class="input-text" type="email" name="email"
                                            placeholder="perez@gmail.com">
                                    </label>
                                    <label class="label">
                                        <span>Telefono</span>
                                        <input class="input-text" type="number" name="tel" placeholder="+56 987654321">
                                    </label>
                                </div>
                                <div class="w-article__inputs-row">
                                    <button class="btn">Guardar</button>
                                </div>
                            </article>
                        </article>
                    </div>
                    <div class="wrapper__group">
                        <h3 class="wrapper__subtitle">Envio a domicilio</h3>

                        <article class="w-article">
                            <label class="w-article__option">
                                <input type="radio" name="address01" selected>
                                <div class="w-article__option-description">
                                    <h5>San lorenzo 3042, Rio Cuarto, Cordoba</h5>
                                    <p>Llega en 5 días por correo postal</p>
                                </div>
                            </label>
                        </article>
                        <article class="w-article">
                            <div class="w-article__row">
                                <a class="w-article__dropdown-link"><span>+</span>Otra persona</a>
                            </div>
                            <!-- Agregar domicilio -->
                            <article class="w-article__dropdown">
                                <div class="w-article__inputs-row">
                                    <label class="label">
                                        <span>Dirección</span>
                                        <input class="input-text" type="text" name="name"
                                            placeholder="Ingrese calle...">
                                    </label>
                                    <label class="label">
                                        <span>Altura</span>
                                        <input class="input-text" type="number" name="name"
                                            placeholder="Ingrese altura...">
                                    </label>
                                    <label class="label">
                                        <span>Piso (opcional)</span>
                                        <input class="input-text" type="text" name="number" placeholder="0">
                                    </label>
                                    <label class="label">
                                        <span>Dpto (opcional)</span>
                                        <input class="input-text" type="text" name="name" placeholder="A">
                                    </label>
                                </div>
                                <div class="w-article__inputs-row">
                                    <label class="label">
                                        <span>Ciudad</span>
                                        <input class="input-text" type="text" name="name"
                                            placeholder="Ingrese ciudad...">
                                    </label>
                                    <label class="label">
                                        <span>Provincia</span>
                                        <input class="input-text" type="text" name="name"
                                            placeholder="Ingrese provincia...">
                                    </label>
                                    <label class="label">
                                        <span>Codigo postal</span>
                                        <input class="input-text" type="number" name="name" placeholder="0000">
                                    </label>
                                </div>
                                <div class="w-article__inputs-row">
                                    <label class="label">
                                        <span>Datos adicionales (opcional)</span>
                                        <input class="input-text" type="text" name="name"
                                            placeholder="Descripcion casa, como llegar, etc.">
                                    </label>
                                </div>
                                <div class="w-article__inputs-row">
                                    <button class="btn">Agregar domicilio</button>
                                </div>
                            </article>
                        </article>
                    </div>
                    <div class="wrapper__group">
                        <!-- Sucursales -->
                        <h3 class="wrapper__subtitle">Retiro en sucursal</h3>
                        <article class="w-article">
                            <label class="w-article__option">
                                <input type="radio" name="sucursal01">
                                <div class="w-article__option-description">
                                    <h5>Cordoba <span>(Laprida 1721)</span></h5>
                                    <p>Disponible para retirar en 24hs.</p>
                                </div>
                            </label>
                        </article>
                        <article class="w-article">
                            <label class="w-article__option">
                                <input type="radio" name="sucursal02">
                                <div class="w-article__option-description">
                                    <h5>Rosario <span>(Av. de la Constitución 528, LOC 10)</span></h5>
                                    <p>Disponible para retirar en 24hs.</p>
                                </div>
                            </label>
                        </article>
                        <article class="w-article">
                            <label class="w-article__option">
                                <input type="radio" name="sucursal02">
                                <div class="w-article__option-description">
                                    <h5>CABA <span>(Colombres 4119)</span></h5>
                                    <p>Disponible para retirar en 24hs.</p>
                                </div>
                            </label>
                        </article>
                    </div>
                </div>
            </section>

            <!-- Section: Pago -->
            <section class="wrapper">
                <div class="wrapper__header">
                    <h2 class="wrapper__title">Pago</h2>
                    <p></p>
                </div>
                <div class="wrapper__body">
                    <div class="wrapper__group">


                        <article class="w-article">
                            <label class="w-article__option">
                                <input type="radio" name="payment_cash">
                                <div class="w-article__option-description">
                                    <h5>Efectivo <span>(10% extra de descuento)</span></h5>
                                    <p>Pago en efectivo al momento de retirar</p>
                                </div>
                            </label>
                        </article>

                        <article class="w-article">
                            <label class="w-article__option">
                                <input type="radio" name="payment_transfer">
                                <div class="w-article__option-description">
                                    <h5>Transferencia</h5>
                                    <p>Se enviará a tu correo los pasos para realizar la transferencia</p>
                                </div>
                            </label>
                        </article>

                        <article class="w-article">
                            <label class="w-article__option">
                                <input class="input-add-card" type="radio" name="payment_card">
                                <div class="w-article__option-description">
                                    <h5>Tarjeta de crédito o débito</h5>
                                </div>
                            </label>

                            <!-- Agregar tarjeta -->
                            <article class="w-article__dropdown">
                                <div class="w-article__inputs-row">
                                    <label class="label">
                                        <span>Titular Tarjeta</span>
                                        <input class="input-text" type="text" name="name"
                                            placeholder="Nombre y Apellido">
                                    </label>
                                    <label class="label">
                                        <span>DNI</span>
                                        <input class="input-text" type="number" name="name" placeholder="00.000.000">
                                    </label>
                                </div>
                                <div class="w-article__inputs-row">
                                    <label class="label">
                                        <span>Numero Tarjeta</span>
                                        <input class="input-text" type="number" name="name"
                                            placeholder="000-000-000-000">
                                    </label>
                                    <label class="label">
                                        <span>Vencimiento</span>
                                        <input class="input-text" type="number" name="name" placeholder="DD/MM">
                                    </label>
                                    <label class="label">
                                        <span>CCV</span>
                                        <input class="input-text" type="number" name="name" placeholder="123">
                                    </label>
                                </div>
                                <div class="w-article__inputs-row">
                                    <button class="btn">Añadir tarjeta</button>
                                </div>
                            </article>
                        </article>
                    </div>
                </div>
            </section>
        </section>

        <aside>
            <section class="wrapper">
                <section class="wrapper__header">
                    <a href="/cart" class="link-to-cart--summary">
                        <iconify-icon icon="tabler:shopping-cart"></iconify-icon>
                        ver carrito
                    </a>
                </section>
                <section class="wrapper__body">
                    <div class="wrapper__group wrapper__group--summary">
                        <p class="cart-summary__resume-value">Subtotal<span>$90000</span></p>
                        <p class="cart-summary__resume-value"><span>Envio <small>(Sin
                                    costo)</small></span><span>$0</span></p>
                        <p class="cart-summary__resume-value">Descuento<span>-$3240</span></p>
                        <hr>
                        <p class="cart-summary__resume-value cart-summary__resume-value--total">
                            TOTAL<span>$538995</span>
                        </p>
                    </div>
                    <div class="wrapper__group">
                        <a href="/checkout" class="btn btn--full">Confirmar compra</a>
                    </div>
                </section>
            </section>
        </aside>
    </div>
</main>