<aside class="panel-aside">
    <div class="aside-cont">

    
    <div class="panel-aside__header">
        <div class="navbar-logo">
            <a class="navbar-logo--link" href="/">
                <iconify-icon class="navbar-logo__icon" icon="tabler:chart-bubble"></iconify-icon>
                <span class="navbar-logo__text">ParfumShop</span>
            </a>
        </div>
    </div>
    <nav class="panel-aside__nav">
        <ul class="panel-aside__ul">
            <li class="panel-aside__li">
                <a href="/" class="panel-aside__link panel-aside__link--active">
                    <iconify-icon icon="tabler:layout-dashboard"></iconify-icon>
                    <span>Dashboard</span>
                </a>
            </li>

            <h3 class="panel-aside__subtitle">Clientes</h3>
            <li class="panel-aside__li">
                <a href="/customer/all" class="panel-aside__link">
                    <iconify-icon icon="tabler:users"></iconify-icon>
                    <span>Clientes</span>
                </a>
            </li>
            <li class="panel-aside__li">
                <a href="" class="panel-aside__link">
                    <iconify-icon icon="tabler:mail"></iconify-icon>
                    <span>Mensaje</span>
                </a>
            </li>

            <h3 class="panel-aside__subtitle">Catalogo</h3>
            <li class="panel-aside__li">
                <a href="/product/all" class="panel-aside__link">
                    <iconify-icon icon="tabler:perfume"></iconify-icon>
                    <span>Productos</span>
                </a>
            </li>
            <li class="panel-aside__li">
                <a href="/brand/all" class="panel-aside__link">
                    <iconify-icon icon="tabler:list-details"></iconify-icon>
                    <span>Marcas</span>
                </a>
            </li>
            <li class="panel-aside__li">
                <a href="/provider/all" class="panel-aside__link">
                    <iconify-icon icon="tabler:truck"></iconify-icon>
                    <span>Provedores</span>
                </a>
            </li>

            <h3 class="panel-aside__subtitle">Administrativo</h3>
            <li class="panel-aside__li">
                <a href="" class="panel-aside__link">
                    <iconify-icon icon="tabler:currency-dollar"></iconify-icon>
                    <span>Ventas</span>
                </a>
            </li>
            <li class="panel-aside__li">
                <a href="" class="panel-aside__link">
                    <iconify-icon icon="tabler:file-description"></iconify-icon>
                    <span>Ordenes</span>
                </a>
            </li>
            <li class="panel-aside__li">
                <a href="/payment/all" class="panel-aside__link">
                    <iconify-icon icon="tabler:credit-card"></iconify-icon>
                    <span>Medios de pago</span>
                </a>
            </li>
            <li class="panel-aside__li">
                <a href="" class="panel-aside__link">
                    <iconify-icon icon="tabler:tag"></iconify-icon>
                    <span>Promociones</span>
                </a>
            </li>

            <h3 class="panel-aside__subtitle">Marketing</h3>
            <li class="panel-aside__li">
                <a href="" class="panel-aside__link">
                    <iconify-icon icon="tabler:star"></iconify-icon>
                    <span>Destacados home</span>
                </a>
            </li>
            <li class="panel-aside__li">
                <a href="" class="panel-aside__link">
                    <iconify-icon icon="tabler:rosette-discount"></iconify-icon>
                    <span>Codigos de descuento</span>
                </a>
            </li>

            <hr class="panel-aside__hr">
            <li class="panel-aside__li">
                <a href="/" class="panel-aside__link">
                    <iconify-icon icon="tabler:building-store"></iconify-icon>
                    <span>Ir a tienda</span>
                </a>
            </li>
            <li class="panel-aside__li">
                <a href="" class="panel-aside__link">
                    <iconify-icon icon="tabler:square-arrow-left"></iconify-icon>
                    <span>Cerrar sesión</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</aside>

