.main--product{
    background: #FFF;
}

.main--panel{
    background: #FFF;
    margin-top: 0;
    display: flex;
}

.container-panel{
    width: 100%;
}

.container{
    max-width: var(--bp-xxl);
    margin-inline: auto;
}

.container--body{
    margin-block: var(--sp-24);
}

.container--home{
    display: flex;
    flex-direction: column;
    gap: var(--sp-120);
}

/* Badge */
.badge{
    padding: var(--sp-4) var(--sp-8);
    border-radius: var(--radius-full);
    font-size: var(--xs);
    font-weight: var(--bold);
    text-transform: uppercase;
}

.badge--green{
    background: rgb(209, 250, 229);
    color: rgb(5, 150, 105);
}

.badge--red{
    background: rgb(254, 226, 226);
    color: rgb(239, 68, 68);
}

.badge--yellow{
    background: rgb(254, 249, 195);
    color: rgb(202, 138, 4);
}

.badge--blue{
    background: rgb(219, 234, 254);
    color: rgb(59, 130, 246);
}