*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-base);
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: flex;
    background: var(--bg-light);
    font-size: var(--md);
    -webkit-font-smoothing: antialiased;
}

a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

img {
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}