@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    
    /* Color: Primary */
    --primary-950: #172554;
    --primary-900: #1e3a8a;
    --primary-800: #1e40af;
    --primary-700: #1d4ed8;
    --primary-600: #2563eb;
    --primary-500: #3b82f6;
    --primary-400: #60a5fa;
    --primary-300: #93c5fd;
    --primary-200: #bfdbfe;
    --primary-100: #dbeafe;
    --primary-50: #eff6ff;

    /* Color: Text */
    --zinc-950: #09090b;
    --zinc-900: #18181b;
    --zinc-800: #27272a;
    --zinc-700: #3f3f46;
    --zinc-600: #52525b;
    --zinc-500: #71717a;
    --zinc-400: #a1a1aa;
    --zinc-300: #d4d4d8;
    --zinc-200: #e4e4e7;
    --zinc-100: #f4f4f5;
    --zinc-50: #fafafa;

    /* Color: Background */
    --bg-light: #f8f9fa;
    --bg-dark: #151718;

    --badge-green: #2ecc71;
    --badge-red: #e74c3c;
    --badge-yellow: #f1c40f;
    --badge-blue: #3498db;
    --badge-purple: #9b59b6;
    --badge-gray: #95a5a6;

    /* Font */
    /* --font-base: "Poppins", sans-serif; */
    --font-base: "Quicksand", sans-serif;

        /* Font weight */
        --extrabold: 800;
        --bold: 700;
        --semibold: 600;
        --medium: 500;
        --regular: 400;
        --light:300;
        --thin: 100;

        /* Font sizes */
        --9xl: 12.8rem;
        --8xl: 9.6rem;
        --7xl: 7.8rem;
        --6xl: 6rem;
        --5xl: 4.8rem;
        --4xl: 3.6rem;
        --3xl: 3rem;
        --2xl: 2.4rem;
        --xl: 2rem;
        --lg: 1.8rem;
        --md: 1.6rem;
        --sm: 1.4rem;
        --xs: 1.2rem;

    /* Breakpoints */

    --bp-xxl: 1400px; /* Extra extra large devices (larger desktops) */
    --bp-xl: 1200px;  /* Extra large devices (large desktops) */
    --bp-lg: 992px;   /* Large devices (desktops) */
    --bp-md: 768px;   /* Medium devices (tablets) */
    --bp-sm: 576px;   /* Small devices (landscape phones) */

    /* Spacing */
    --sp-160: 160px;
    --sp-120: 120px;
    --sp-80: 80px;
    --sp-64: 64px;
    --sp-48: 48px;
    --sp-40: 40px;
    --sp-32: 32px;
    --sp-24: 24px;
    --sp-20: 20px;
    --sp-16: 16px;
    --sp-12: 12px;
    --sp-8: 8px;
    --sp-4: 4px;
    --sp-2: 2px;

    /* Border radius */
    --radius-full: 50px;
    --radius-xl: 20px;
    --radius-lg: 16px;
    --radius-md: 12px;
    --radius-sm: 8px;
    --radius-xs: 4px;

    /* Transitions */
    --transition-03: .3s ease-in-out;
    --transition-03: .2s ease;
    --transition-02: .2s ease-in-out;
    --transition-01: .1s ease-in-out;

    /* Shadow */
    --shadow-extrabold: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --shadow-bold: 0 25px 50px -12px rgba(0, 0, 0,  0.25);
    --shadow-semibold: 0 20px 25px -5px rgba(0,0,0, 0.1), 0 8px 10px -6px rgba(0,0,0, 0.1);
    --shadow-medium: 0 10px 15px -3px rgba(0,0,0, 0.1), 0 4px 6px -4px rgba(0,0,0, 0.1);
    --shadow-regular: 0 4px 6px -1px rgba(0,0,0, 0.1), 0 2px 4px -2px rgba(0,0,0, 0.1);
    --shadow-light: 0 1px 3px 0 rgba(0,0,0, 0.1), 0 1px 2px -1px rgba(0,0,0, 0.1);
    --shadow-thin: 0 1px 2px 0 rgba(0,0,0, 0.05);

    /* Text Shadow */
    --text-shadow-regular: 0px 0px 5px rgba(0, 0, 0, 0.4);
    --text-shadow-light: 0px 0px 5px rgba(0, 0, 0, 0.3);
}