.hero__content{}

.hero__ul{
    display: flex;
}

.hero__li{
    padding: var(--sp-24) var(--sp-16);
}

.hero-article{
    display: flex;
    align-items: center;
    gap: var(--sp-4);

}

.hero-article__icon{
    font-size: var(--6xl);
}

.hero-article__content{
    
}

.hero-article__title{
    
}

.hero-article__text{
    font-size: var(--sm);
    line-height: 14px;
}


