.product-card{
    max-width: 280px;
    height: 445px;
    border: 1px solid var(--zinc-200);
    transition: all var(--transition-02);
    overflow: hidden;
    background: #FFF;
}

    .product-card:hover{
        box-shadow: var(--shadow-medium);
        border: 1px solid var(--zinc-300);
    }

    .product-card a{
        height: 100%;
        display: flex;
        flex-direction: column;
    }

.product-card__cover{
    --size: 280px;
    max-height: var(--size);
    max-width: var(--size);
    padding: var(--sp-12);
    transition: all var(--transition-02);
}

    .product-card:hover .product-card__cover{
        padding: var(--sp-4);
    }

.product-card__content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: var(--sp-12);
}

.product-card__brand{
    font-size: var(--sm);
    color: var(--zinc-600);
}

.product-card__name{
    line-height: 16px;
    overflow: hidden;
}

.product-card__price{
    font-size: var(--lg);
    font-weight: var(--semibold);
}

.product-card__price--line{
    font-size: var(--md);
    font-weight: var(--medium);
    color: var(--zinc-600);
    text-decoration: line-through;
}

.product-card__payments{
    font-size: var(--xs);
}

.product-card__payments span{
    font-weight: var(--semibold);
}