<main class="main">
    <div class="container--body shop-page">
        <aside class="filters">
            <form action="" class="filters__form">
                <section class="filters__header">
                    <h2 class="filters__title">FILTROS</h2>
                </section>
                <section class="filter">
                    <div class="filter__inputs-container">
                        <input class="input-checkbox" type="checkbox" name="filter-discount" id="filter-discount">
                        <label class="label--filter" for="filter-discount">Con descuento</label>
                    </div>
                    <div class="filter__inputs-container">
                        <input class="input-checkbox" type="checkbox" name="filter-new" id="filter-new">
                        <label class="label--filter" for="filter-new">Lanzamientos</label>
                    </div>
                </section>
                <section class="filter">
                    <h4 class="filter__title">Precio</h4>
                    <div class="filter__inputs-container--price">
                        <label class="label--filter" for="filter-min-price">Desde</label>
                        <input type="number" name="filter-min-price" id="filter-min-price" min="0">
                        <label class="label--filter" for="filter-max-price">Hasta</label>
                        <input type="number" name="filter-max-price" id="filter-max-price" min="0">
                    </div>
                </section>
                <section class="filter">
                    <h4 class="filter__title">Genero</h4>
                    <div class="filter__inputs-container">
                        <input class="input-checkbox" type="checkbox" name="filter-man" id="filter-man">
                        <label class="label--filter" for="filter-man">Masculinos</label>
                    </div>
                    <div class="filter__inputs-container">
                        <input class="input-checkbox" type="checkbox" name="filter-woman" id="filter-woman">
                        <label class="label--filter" for="filter-woman">Femeninos</label>
                    </div>
                    <div class="filter__inputs-container">
                        <input class="input-checkbox" type="checkbox" name="filter-unisex" id="filter-unisex">
                        <label class="label--filter" for="filter-unisex">Unisex</label>
                    </div>
                </section>
                <section class="filter">
                    <h4 class="filter__title">Tipo</h4>
                    <div class="filter__inputs-container">
                        <input class="input-checkbox" type="checkbox" name="filter-edp" id="filter-edp">
                        <label class="label--filter" for="filter-edp">EDP</label>
                    </div>
                    <div class="filter__inputs-container">
                        <input class="input-checkbox" type="checkbox" name="filter-edt" id="filter-edt">
                        <label class="label--filter" for="filter-edt">EDT</label>
                    </div>
                    <div class="filter__inputs-container">
                        <input class="input-checkbox" type="checkbox" name="filter-desodorante" id="filter-desodorante">
                        <label class="label--filter" for="filter-desodorante">Desodorante</label>
                    </div>
                </section>
                <section class="filter">
                    <h4 class="filter__title">Marcas</h4>
                    <div class="filter__inputs-container">
                        <input class="input-checkbox" type="checkbox" name="filter-desodorante" id="filter-desodorante">
                        <label class="label--filter" for="filter-desodorante">UNA MARCA</label>
                    </div>
                </section>
            </form>
        </aside>
        <section class="products-container">
            <section class="products__header">
                <div class="search-container">
                    <label class="label--filter" for="search"><iconify-icon icon="tabler:search"></iconify-icon></label>
                    <input class="input-text input--search" type="search" name="search" id="search" placeholder="Buscar">
                </div>
                <div class="order-container">
                    <label class="label--filter" for="order">Ordenar:</label>
                    <select name="order" id="order">
                        <option value="name_az">Nombre A-Z</option>
                        <option value="name_za">Nombre Z-A</option>
                        <option value="price_low">Menor precio</option>
                        <option value="price_high">Mayor precio</option>
                    </select>
                </div>
            </section>
            <ul class="products__list">
                <% data.products.forEach(product=> { %>
                    <li><%- include('../../shared/components/product-card.ejs', {product: product}) %></li>
                <%})%>
            </ul>
            <section class="pagination-container">
                <div class="pagination">
                    <a href="#" class="pagination__link pagination__link--dir"><</a>
                    <a href="#" class="pagination__link">1</a>
                    <a href="#" class="pagination__link">2</a>
                    <a href="#" class="pagination__link pagination__link--selected">3</a>
                    <a href="#" class="pagination__link">4</a>
                    <a href="#" class="pagination__link">5</a>
                    <a href="#" class="pagination__link pagination__link--dir">></a>
                </div>
            </section>
        </section>
    </div>
</main>