<section class="main__header">
    <div class="main__content">
        <h2>Pagina de inicio</h2>
        <p>Bienvenido a la sección de administración de ParfumShop</p>
    </div>
</section>
<section class="main__body">
    <section class="wrapper">
        <div class="wrapper__header">
            <div class="wrapper__title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </section>
</section>
