.container--body-cart{
    display: flex;
    justify-content: center;
    gap: var(--sp-32);
}

.cart__title{
    width: fit-content;
    margin-bottom: var(--sp-32);
    border-bottom: 2px solid var(--primary-400);
    text-wrap: nowrap;
}

/* Lista de productos */
.cart-list{
    max-width: 1200px;
    border: 1px solid var(--zinc-200);
}

.cart__header{
    padding: var(--sp-16);
    padding-bottom: 0;
}

.cart-list__ul{}

.cart-list__article-header{
    background: var(--zinc-50);
    font-weight: var(--medium);
    text-align: center;
}

.cart-list__article{
    padding: var(--sp-16);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--zinc-200);
}

.cart-list__div{
    display: grid;
    place-content: center;
}

.cart-list__cover{
    width: 130px;
    margin-inline: auto;
}

.cart-list__name{
    align-items: center;
    justify-content: start;
    padding-inline: var(--sp-8);
}

.cart-list__quantity{
    width: 110px;
}

.btn--remove{
    padding: 0;
    background-color: inherit;
    border: none;
    font-size: var(--3xl);
    color: var(--zinc-400);
    transition: all var(--transition-02);
    cursor: pointer;
}

    .btn--remove:hover{
        color: red;
    }

/* Resumen de compra */
.cart-summary{
    padding: var(--sp-16);
    border: 1px solid var(--zinc-200);
}

.cart-summary__body{
    display: flex;
    flex-direction: column;
    gap: var(--sp-24);
}

.cart-summary__item{
    display: flex;
    flex-direction: column;
    gap: var(--sp-4);
}

.cart-summary__item-title{
    font-weight: var(--semibold);
    letter-spacing: 0.5px;
}

.cart-summary__discount{
    display: flex;
}

.cart-summary__resume-value{
    display: flex;
    justify-content: space-between;
    color: var(--zinc-700);
}

.cart-summary__resume-value--total{
    padding-top: 4px;
    font-weight: var(--semibold);
    font-size: var(--xl);
}

.cart-summary__resume-value--total span{
    letter-spacing: 0.5px;
    color: var(--zinc-900);
}

/* Button */

.btn--sumary-checkout{
    font-size: var(--lg);
}
