.container--body-checkout {
    display: flex;
    gap: var(--sp-16);
}

.container--checkout {
    display: flex;
    flex-direction: column;
    gap: var(--sp-16);
    flex-grow: 1;
}


/* Aside */
.link-to-cart--summary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--sp-8);
    font-size: var(--md);
    text-transform: uppercase;
    color: var(--primary-500);
    font-weight: var(--semibold);
    text-align: center;
}

.link-to-cart--summary iconify-icon {
    font-size: var(--2xl);
}