.main__header{
    padding: var(--sp-16);
    display: flex;
    align-items: center;
    gap: var(--sp-32);
}

.header__content{

}

.header__id {
    font-weight: var(--regular);
    font-size: var(--lg);
    color: var(--zinc-400);
}

.header__btn-container{
    margin-left: auto;
    display: flex;
    gap: var(--sp-16);
}

.main__body{
    padding: var(--sp-16);
    display: flex;
    flex-direction: column;
    gap: var(--sp-16);
}

    .main__body-column{
        padding: var(--sp-16);
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: var(--sp-16);
    }

        .main__body-column__left, .main__body-column__right{
            display: flex;
            flex-direction: column;
            gap: var(--sp-16);
        }

/* PANEL */
.panel-info{
    padding: var(--sp-8) var(--sp-16);
    display: flex;
    align-items: center;
    gap: var(--sp-32);
}

.panel-info__item{
    display: flex;
    gap: var(--sp-4) var(--sp-12);
    align-items: center;
    color: var(--zinc-700);
    border: 1px solid transparent;
    padding: var(--sp-8);
    border-radius: var(--radius-sm);
    transition: all var(--transition-01);
}

.panel-info__item iconify-icon{
    padding: var(--sp-8);
    font-size: var(--2xl);
    color: var(--zinc-500);
    background-color: var(--zinc-100);
    border-radius: var(--radius-full);
}

.panel-info__label{
    font-weight: var(--semibold);
    text-wrap: nowrap;
}

.panel-info__value{
    font-size: var(--xl);
    font-weight: var(--bold);
}

.panel-info__item--link:hover{
    /* background: var(--primary-500); */
    border: 1px solid var(--primary-500);
    color: var(--primary-500);
}

.panel-info__btn-container{
    margin-left: auto;
    display: flex;
    gap: var(--sp-16);
}

/* TABLE */
.table{
    /* table-layout: fixed; */
}
.table__row:nth-child(odd){
    background-color: var(--zinc-100);

}

.table__cell{
  /*   width: 50%; */
    vertical-align: middle !important;
}

.table__cell--fit{
    width: 80px;
}

.link--table{
    color: var(--zinc-700);
    font-weight: var(--medium);
}