.shop-page{
    display: flex;
    justify-content: space-between;
    gap: var(--sp-24);
}

.products-container{
    display: flex;
    flex-direction: column;
    gap: var(--sp-24);
    align-content: center;
}

.products__list{
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp-24);
}

/* Filtros */

.filters{
    flex-grow: 1;
    width: fit-content;
}

.filters__title{
    font-size: var(--lg);
    font-weight: var(--bold);
}

.filters__form{
    width: 175px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--sp-8);
}

.filter__inputs-container{
    display: flex;
    gap: var(--sp-8);
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.filter__inputs-container--price{
    display: flex;
    flex-direction: column;
    gap: var(--sp-4);
}

/* Orden */

.products__header{
    display: flex;
    justify-content: space-between;
    font-size: var(--lg);
}

.search-container{
    display: flex;
    align-items: center;
    gap: var(--sp-8);
    border-bottom: 1px solid var(--zinc-500);
    border: 1px solid var(--zinc-200);
    padding: var(--sp-4) var(--sp-12);
    background: #FFF;
    max-width: 280px;
}

.search-container label{
    font-size: var(--xl);
    display: flex;
    align-items: center;
}

.order-container{
    display: flex;
    align-items: center;
    gap: var(--sp-12);
}

/* Productos */

.filters__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn--filter{
    padding: var(--sp-4) var(--sp-12);
    background-color: var(--primary-400);
    border: none;
    cursor: pointer;
    color: #FFF;
    transition: var(--transition-02);
}

.btn--filter:hover{
    background-color: var(--primary-500);
}

/* Paginador */

.pagination-container{
    width: 100%;
}

.pagination{
    display: flex;
    justify-content: center;
    gap: var(--sp-12);
}

.pagination__link{
    --size: 12px;
    width: var(--size);
    height: var(--size);
    padding: var(--sp-16);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--zinc-700);

    font-size: var(--xl);
    border: none;
    transition: var(--transition-02);
}

.pagination__link--selected{
    color: var(--primary-500);
    font-weight: var(--semibold);
    font-size: var(--2xl);
}

.pagination__link--dir{
    color: var(--zinc-500);
    background-color: var(--primary-200);
}

.pagination__link:hover{
    color: #FFF;
    background-color: var(--primary-500);
}