<section class="hero">
    <div class="swiper" id="swiper-hero">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/img/hero/4752b426-9223-4a65-bc85-e562512e0f39___c05923ff8d7161f8ac30b64f4ce5ca6a.webp"
                    alt="Slider 1">
            </div>
            <div class="swiper-slide">
                <img src="/img/hero/5efaed89-5be8-4fcc-a8b9-dfe461aa0318___66b0406c55686504975f82a1d35864ec.webp"
                    alt="Slider 1">
            </div>
            <div class="swiper-slide">
                <img src="/img/hero/93ad10a7-c42f-4224-a455-053b916e1307___207d254ed2313deed5bea3f3aba0150b.webp"
                    alt="Slider 1">
            </div>
            <div class="swiper-slide">
                <img src="/img/hero/9c4319ac-55fa-4fe7-b455-c289b558ba17___4e434073c6a596f5ce177f6272b8c89a.webp"
                    alt="Slider 1">
            </div>
            <div class="swiper-slide">
                <img src="/img/hero/d1699d4d-46fb-4a01-b3dd-243c686879d5___a6704962b68d9a90bede378996a90631.webp"
                    alt="Slider 1">
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <section class="hero__content container">
        <ul class="hero__ul">
            <li class="hero__li">
                <article class="hero-article">
                    <iconify-icon class="hero-article__icon" icon="tabler:credit-card"></iconify-icon>
                    <div class="hero-article__content">
                        <h4 class="hero-article__title">Cuotas sin interes</h4>
                        <p class="hero-article__text">Hasta 12 cuotas sin interes con tarjetas bancarizadas</p>
                    </div>
                </article>
            </li>
            <li class="hero__li">
                <article class="hero-article">
                    <iconify-icon class="hero-article__icon" icon="tabler:package"></iconify-icon>
                    <div class="hero-article__content">
                        <h4 class="hero-article__title">Envios</h4>
                        <p class="hero-article__text">A todo el pais mediante Correo Argentino</p>
                    </div>
                </article>
            </li>
            <li class="hero__li">
                <article class="hero-article">
                    <iconify-icon class="hero-article__icon" icon="tabler:circle-check"></iconify-icon>
                    <div class="hero-article__content">
                        <h4 class="hero-article__title">Originales</h4>
                        <p class="hero-article__text">Nuestros perfumes son 100% originales</p>
                    </div>
                </article>
            </li>
            <li class="hero__li">
                <article class="hero-article">
                    <iconify-icon class="hero-article__icon" icon="tabler:percentage"></iconify-icon>
                    <div class="hero-article__content">
                        <h4 class="hero-article__title">Descuentos</h4>
                        <p class="hero-article__text">Aprovecha los mejores descuentos en efectivo y debito</p>
                    </div>
                </article>
            </li>
        </ul>
    </section>
</section>