<article class="promoted__article">
    <section class="promoted__banner">
        <img src="/img/promoted/4fa09b18-700d-488f-b56d-cef45fc16813___0ffa7276c5c62dbf3a1b3f095e36f260.jpg" alt="">
    </section>
    <section class="promoted__products-list">
        <% products.forEach(product => { %>
            <%- include('../../../../shared/components/product-card', {product: product}) %>
        <%})%>
    </section>
</article>