.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--sp-8);
    background: #FFF;
    z-index: 1000;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-logo--link{
    display: flex;
    align-items: center;
    gap: var(--sp-4);
    font-size: var(--lg);
    font-weight: var(--semibold);
    letter-spacing: 0.5px;
}

.navbar__ul {
    display: flex;
    gap: var(--sp-8);
    align-items: center;
}

.navbar__li {
    margin: var(--sp-2) var(--sp-8);
    transition: all var(--transition-02);
    border-bottom: 2px solid transparent;
}

    .navbar__li:hover {
        border-bottom: 2px solid var(--primary-400);
    }

.navbar__li--icon{
    border: none;
}

.navbar__li--icon:hover{
    border: none;
    color: var(--primary-400);
}

.navbar__link {
    display: flex;
    align-items: center;
    gap: var(--sp-4);
    text-wrap: nowrap;
}

.navbar__link--icon{
    font-size: var(--2xl);
}

/* Subnavbar */
.subnavbar {
    position: relative;
    width: 100%;
}

.subnavbar:hover .subnavbar__ul {
    display: block;
}

.subnavbar__ul {
    position: absolute;
    left: 0;
    display: none;
    background: #FFF;

}

.subnavbar__li {
    padding: var(--sp-8);
    transition: all var(--transition-02);
    font-weight: var(--medium);
}

    .subnavbar__li:hover {
        color: var(--primary-400);
    }