<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/imports.css">
    <title>
        <%= data.title %>
    </title>
</head>

<body>
    <%- include('../shared/partials/header.ejs') %>
    <%- body %>
    <%- include('../shared/partials/footer.ejs') %>
    <script src="/scripts/quantity.js"></script>
    <script src="/scripts/dropdown.js"></script>
    <script src="/scripts/cart.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script><!-- Iconify -->
</body>

</html>